<ion-view title="Getting Started" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/jpc35kh4SjWAWTL3zm6D_clock.ico" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 43px;"></div>
        <p id="gettingStarted3-markdown5" style="color:#000000;font-size:20px;text-align:center;" class=" ">Meal Reminders to Keep you on Track</p>
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <div id="gettingStarted3-button-bar4" class=" button-bar ">
            <a ui-sref="gettingStarted" id="gettingStarted3-button15" class=" button button-dark  button-block ">1</a>
            <a ui-sref="gettingStarted2" id="gettingStarted3-button16" class=" button button-dark  button-block ">2</a>
            <a ui-sref="myDietCoach.home" id="gettingStarted3-button17" class=" button button-dark  button-block ">3</a>
        </div>
    </ion-content>
</ion-view>