<ion-view title="Getting Started" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/Ts2TcjeDQDW6RHT63hdn_note.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 61px;"></div>
        <p id="gettingStarted2-markdown4" style="color:#000000;font-size:20px;text-align:center;" class=" ">Shopping list for each plan</p>
        <div class="spacer" style="width: 300px; height: 44px;"></div>
        <div id="gettingStarted2-button-bar3" class=" button-bar ">
            <a ui-sref="gettingStarted" id="gettingStarted2-button12" class=" button button-dark  button-block ">1</a>
            <button id="gettingStarted2-button13" class=" button button-dark  button-block ">2</button>
            <a ui-sref="gettingStarted3" id="gettingStarted2-button14" class=" button button-dark  button-block ">3</a>
        </div>
    </ion-content>
</ion-view>