<ion-view title="Login" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form4" class="list ">
            <div class="spacer" style="width: 300px; height: 22px;"></div>
            <div class="">
                <img src="img/5z9jLzdTbuFgiJGfUccy_diet.jpg" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="spacer" style="width: 300px; height: 58px;"></div>
            <ion-list id="login-list5" class=" ">
                <label class="item item-input item-floating-label " id="login-input15">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input item-floating-label " id="login-input16">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <a ui-sref="gettingStarted" id="login-button4" style="font-size:20px;" class=" button button-stable  button-block ">Log in</a>
            <a ui-sref="signup" id="login-button5" style="font-size:10px;" class=" button button-positive  button-block button-clear ">New to MyDietCoach? Create an account</a>
        </form>
    </ion-content>
</ion-view>