<ion-view title="Signup" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form1" class="list ">
            <h5 id="signup-heading2" style="color:#000000;text-align:center;" class=" ">My Diet Coach will test you how much you'll lose with each diet plan.</h5>
            <ion-list id="signup-list2" class=" ">
                <label class="item item-input item-floating-label " id="signup-input1">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input item-floating-label " id="signup-input10">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input item-floating-label " id="signup-input2">
                    <span class="input-label">Birthday</span>
                    <input type="date" placeholder="Birthday (Month/Day/Year)">
                </label>
                <label class="item item-input item-floating-label " id="signup-input3">
                    <span class="input-label">Current Height</span>
                    <input type="number" placeholder="Current Height (cm)">
                </label>
                <label class="item item-input item-floating-label " id="signup-input11">
                    <span class="input-label">Current Weight</span>
                    <input type="number" placeholder="Current Weight (kg)">
                </label>
                <label class="item item-input item-floating-label " id="signup-input12">
                    <span class="input-label">Target Weight</span>
                    <input type="number" placeholder="Target Weight (kg)">
                </label>
                <ion-radio id="signup-radio1" name="Gender" class=" ">Male</ion-radio>
                <ion-radio id="signup-radio2" name="Gender" class=" ">Female</ion-radio>
                <label class="item item-input item-floating-label " id="signup-input14">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <a ui-sref="waterHelpsWeightLoss" id="signup-button1" class=" button button-stable  button-block ">Continue</a>
        </form>
    </ion-content>
</ion-view>