<ion-view title="Water helps weight loss" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 37px;"></div>
        <p id="waterHelpsWeightLoss-markdown6" style="color:#000000;text-align:center;" class=" ">Do you often forget to drink 8 glasses of water throughout the day?</p>
        <div class="spacer" style="width: 300px; height: 56px;"></div>
        <form id="waterHelpsWeightLoss-form6" class="list ">
            <ion-radio id="waterHelpsWeightLoss-radio3" class=" ">No, I always remember to drink</ion-radio>
            <ion-radio id="waterHelpsWeightLoss-radio4" class=" ">Yes, I often forget to drink water</ion-radio>
            <ion-radio id="waterHelpsWeightLoss-radio5" class=" ">I really don't know</ion-radio>
            <div class="spacer" style="width: 300px; height: 48px;"></div>
            <a ui-sref="login" id="waterHelpsWeightLoss-button18" class=" button button-dark  button-block ">Sign up!</a>
        </form>
    </ion-content>
</ion-view>